* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.jpg");
    position: relative;
    cursor: none;
    overflow: hidden;
}

.fly {
    width: 130px;
    height: 100px;
}

.flying-fly {
    width: 60px;
    margin-top: 30px;
    margin-left: 20px;
}

.swatter {
    width: 300px;
    position: absolute;
    display: none;
}

.died-fly {
    width: 110px;
}